<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wut.practicum.mapper.OaAiSessionMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO oa_ai_session (user_id, request_role, request_department_id, permission_digest, question, answer_summary, status)
        VALUES (#{userId}, #{requestRole}, #{requestDepartmentId}, #{permissionDigest}, #{question}, #{answerSummary}, #{status})
    </insert>

    <select id="selectById" resultType="com.wut.practicum.entity.OaAiSession">
        SELECT * FROM oa_ai_session WHERE id = #{id}
    </select>

    <update id="updateById">
        UPDATE oa_ai_session
        <set>
            <if test="answerSummary != null">answer_summary = #{answerSummary},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
